<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">PelisApp</h1>
  <p class="lead">Esta es una aplicación de películas</p>
</div>

<div class="container">
  <br>

  <app-galeria [peliculas]="cartelera|slice:0:6"
                titulo="Películas en cartelera"></app-galeria>

  <app-galeria [peliculas]="populares|slice:0:6"
                titulo="Películas populares"></app-galeria>

  <app-galeria [peliculas]="pequenos|slice:0:6"
                titulo="Películas entre los más pequeños"></app-galeria>

</div>
