<div class="jumbotron text-center">
  <h1 class="display-3">PelisApp</h1>
  <p class="lead">Esta es una aplicación de películas</p>
</div>


  <div class="row">
    <div class="col-md-12">
      <h1>Peliculas en cartelera</h1>
      <hr>

      <div class="card-group">
        <div *ngFor="let k of cartelera | keys; let i = index;" class="card card-inverse">
          <img class="card-img" src="http://image.tmdb.org/t/p/w300/{{ cartelera[k].poster_path }}">
          <div class="card-img-overlay">
            <h4 class="card-title">{{ cartelera[k].title }}</h4>
            <button [routerLink]="['pelicula', cartelera[k].id, 'home']"
                    class="btn btn-primary"
                    type="button" name="button">Ir</button>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h1>Populares</h1>
      <hr>

      <div class="card-group">
        <div
            *ngFor="let k of populares | keys; let i = index;"
            class="card card-inverse">
          <img class="card-img" src="http://image.tmdb.org/t/p/w300/{{ populares[k].poster_path }}">
          <div class="card-img-overlay">
            <h4 class="card-title">{{ populares[k].title }}</h4>
            <button [routerLink]="['pelicula', populares[k].id, 'home']"
                    class="btn btn-primary"
                    type="button" name="button">Ir</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Populares entre los más pequeños</h1>
      <hr>
      <div class="card-group">
        <div *ngFor="let k of pequenos | keys; let i = index;" class="card card-inverse">
          <img class="card-img" src="http://image.tmdb.org/t/p/w300/{{ pequenos[k].poster_path }}">
          <div class="card-img-overlay">
            <h4 class="card-title">{{ pequenos[k].title }}</h4>
            <button [routerLink]="['pelicula', pequenos[k].id, 'home']"
                    class="btn btn-primary"
                    type="button" name="button">Ir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
